.shimmer-card{
width: 240px;
height: 240.38px;
background-color: lightgrey;
    border-radius: 5px;
    box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}